@media screen and (min-width: 561px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 550;
    letter-spacing: 0.1em;
    line-height: 30px;
  }
  html {
    width: 100%;
  }
  body {
    width: 100%;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 8vh;
    z-index: 10;
  }
  main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  h1 {
    font-size: 20px;
    line-height: 40px;
  }
  h2 {
    line-height: 40px;
    font-size: 16px;
  }
  h3 {
    line-height: 40px;
    font-size: 12px;
  }
  p {
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
  }

.hide-menu {
	display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
	background-color: white;
	height: 100vh;
	display: none;
  z-index: 5;
}
.hide-nav {
  margin-top: 100px;
}
.hide-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hide-nav li{
	margin: 10px 0;
}
.hide-nav a {
  text-decoration: none;
	font-size: 18px;
  color: #182987;
}
.hide-sns{
	width: 100%;
	display: flex;
  align-items: center;
	flex-direction: column;
	margin-top: 40px;
}
.hide-sns ul{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide-sns i{
	color: #182987;
  font-size: 20px;
  margin: 0 20px;
  line-height: 50px;
}
.hide-sns img{
  width:17px;
  margin: 0 20px;
}
.smart-btn i {
  color: #182987;
  font-size: 35px;
  margin: 0 20px;
  cursor: pointer;
}
.smart-btn img {
  color: #182987;
  font-size: 40px;
	margin: 0 20px;
	display: none;
}
.works {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 8vh;
}
.main-visual {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-visual img {
  width: 300%;
}
.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 80px;
}
.explanation h1 {
  margin-bottom: 40px;
  font-size: 30px;
}
.explanation p {
  margin-bottom: 20px;
  font-weight: 350;
}
.explanation .name {
  text-align: center;
}
.item1,
.item2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 80px;
}
.item1 h2,
.item2 h2{
  margin-bottom: 40px;
}
.item1 p,
.item2 p{
  font-weight: 350;
}
.item p {
  margin-bottom: 30px;
}
.photos {
	display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
  width: 80%;
  margin-top: 100px;
}
.photos img {
  width: 350px;
  height: 100%;
  margin: 20px 0;
}
.profile {
  flex-direction: column;
  align-items: center;
  text-align: center;
	margin-top: 100px;
	width: 80%;
}
.profile-team {

}
.profile-indivisual {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}
.profile-p {
  display: block;
  position: relative;
  width: 100%;
  clear: left;
}
.profile-img img {
  width: 250px;
  margin: 5%;
  align-items: center;
}
.profile-name {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
.profile-frigana {
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
}
.profile-belonging {
  margin-bottom: 20px;
  text-align: center;
}
.profile-sns {
	width: 100%;
	display: flex;
  align-items: center;
	flex-direction: column;
	margin-bottom: 20px;
  margin-top: 20px;
}
.profile-sns ul{
  display: flex;
  justify-content: space-around;
	width: 50%;
}
.profile-sns i{
	color: #182987;
	font-size: 25px;
}
.profile-sns img{
	width:20px;
}
.profile-sns a {
  color: #182987;
  font-size: 30px;
}
.before-next {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px 0;
}
.before-next a {
  color: #182987;
  text-decoration: none;
  font-size: 20px;
}
.back {
  width: 100%;
  background-color: #182987;
  text-align: center;
  padding: 10px 0;
}
.back a {
  color: white;
  text-decoration: none;
}
}
@media screen and (max-width: 560px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 550;
    letter-spacing: 0.1em;
    line-height: 30px;
  }
  html {
    width: 100%;
  }
  body {
    width: 100%;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 8vh;
    z-index: 10;
  }
  main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  h1 {
    font-size: 20px;
    line-height: 40px;
  }
  h2 {
    line-height: 40px;
    font-size: 16px;
  }
  h3 {
    line-height: 40px;
    font-size: 12px;
  }
  p {
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
  }
  .hide-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 100vh;
    display: none;
    z-index: 5;
  }
  .hide-nav {
    margin-top: 100px;
  }
  .hide-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hide-nav li{
    margin: 10px 0;
  }
  .hide-nav a {
    text-decoration: none;
    font-size: 18px;
    color: #182987;
  }
  .hide-sns{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }
  .hide-sns ul{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hide-sns i{
    color: #182987;
    font-size: 20px;
    margin: 0 20px;
    line-height: 50px;
  }
  .hide-sns img{
    width:17px;
    margin: 0 20px;
  }
  .smart-btn i {
    color: #182987;
    font-size: 35px;
    margin: 0 20px;
    cursor: pointer;
  }
  .smart-btn img {
    color: #182987;
    font-size: 40px;
    margin: 0 20px;
    display: none;
  }
  .works {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 8vh;
  }
  .main-visual {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-visual img {
    width: 300%;
  }
  .explanation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 50px;
  }
  .explanation h1 {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .explanation p {
    margin-bottom: 40px;
    font-weight: 350;
    font-size: 13px;
  }
  .explanation .name {
    text-align: center;
  }
  .item1,
  .item2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px
  }
  .item1 h2,
  .item2 h2{
    margin-bottom: 20px;
    font-size: 17px;
  }
  .item1 p,
  .item2 p{
    font-weight: 350;
    font-size: 13px;
  }
  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
  }
  .photos img {
    width: 350px;
    height: 100%;
    margin: 10px 0;
  }
    .profile {
      flex-direction: column;
      align-items: center;
      text-align: center;
    	margin-top: 100px;
    	width: 80%;
    }
    .profile-team {

    }
    .profile-indivisual {
      width: 100%;
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .profile-p {
      display: block;
      position: relative;
      width: 100%;
      clear: left;
    }
    .profile-img img {
      width: 250px;
      margin: 5%;
      align-items: center;
    }
    .profile-name {
      font-size: 20px;
      margin-bottom: 5px;
      text-align: center;
      font-weight: bold;
    }
    .profile-frigana {
      font-size: 13px;
      margin-bottom: 10px;
      text-align: center;
    }
    .profile-belonging {
      margin-bottom: 20px;
      text-align: center;
    }
    .profile-sns {
    	width: 100%;
    	display: flex;
      align-items: center;
    	flex-direction: column;
    	margin-bottom: 20px;
      margin-top: 20px;
    }
    .profile-sns ul{
      display: flex;
      justify-content: space-around;
    	width: 50%;
    }
    .profile-sns i{
    	color: #182987;
    	font-size: 25px;
    }
    .profile-sns img{
    	width:20px;
    }
    .profile-sns a {
      color: #182987;
      font-size: 30px;
    }
  .before-next {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 100px 0;
  }
  .before-next a {
    color: #182987;
    text-decoration: none;
    font-size: 20px;
  }
  .back {
    width: 100%;
    background-color: #182987;
    text-align: center;
    padding: 10px 0;
  }
  .back a {
    color: white;
    text-decoration: none;
  }
}
