* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: DIN Alternate Bold;
  font-weight: 400;
  font-style: normal;
}
html {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  height: 100%;
  width: 100%;
}
header {
  /* background-color: pink; */
  height: 700px;
  width: 31%;
  flex-grow: 1;
}
main {
  background-color: #3f6096;
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69%;
  height: 100%;
  position: relative;
}
.logo {
  margin: 20px;
}
.header-nav {
  margin-top: 50px;
  position: relative;
}
.header-nav li {
  list-style: none;
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 15px 20px;
}
.header-nav a {
  text-decoration: none;
  color: #182987;
  font-size: 20px;
}
#Exhibition i {
  color: #182987;
  font-size: 18px;
  margin-left: 30px;
}
#Exhibition2020 a {
  font-size: 12px;
  text-decoration: underline;
}
.current a {
  color: white;
}
#menu-back{
  color: #182987;
  background-color: #182987;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.head_sns ul {
  display: flex;
  position: absolute;
  top: 75%;
}
.head_sns li {
  margin: 0 0 0 20px;
}
.head_sns a {
  text-decoration: none;
  color: #182987;
  font-size: 25px;
  padding: 0;
}
h1 {
  color: white;
  text-align: center;
  font-size: 27px;
}
#main-cover{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #182987;
  z-index: 1000;
}
.arts {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}
.arts-left {
  width: 45%;
  height: 100%;
  display: flex;
}
.arts-left-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.arts-left-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.arts-right {
  width: 55%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arts-right-top {
  width: 100%;
}
.arts-right-bottom {
  display: flex;
  width: 100%;
}
.art1 img,.art2 img,.art3 img,.art4 img,.art5 img,.art6 img,.art7 img {
  margin: 10px;
  width: 100%;
  height:100%;
}
div.art1, div.art2, div.art3, div.art4, div.art5, div.art6, div.art7{
  position: relative;
  overflow: hidden;
}
.futa{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #182987;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
}
.more {
  color: white;
  font-size: 12px;
  margin-top: 900px;
  margin-left: 800px;
  position: absolute;
}
.more a {
  color: white;
  font-size: 12px;
}
.slide{
  position: absolute;
  top:0;
  display: flex;
  width: 100%;
}
.slide img{
  margin: 0 1px;
  width: 20%;
}
.Exhibition2020-box{
  width: 45%;
}
.Exhibition2020-box h1{
  margin-bottom: 20px;
}
.Exhibition2020-box p{
  color: white;
  font-size: 16px;
}
.arts_2020_box{
  color: white;
}
.arts_2020_box p{
  position: absolute;
  top: 85%;
  left: 6%;
}
.arts_2020_box i{
  position: absolute;
  top: 85.4%;
  left: 15%;
}
.arts_2020_box a{
  position: absolute;
  top: 77%;
  right: 6%;
}
.arts_2020{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top:90%;
  margin:0 5% 5%;
}
.arts_2020 a{
  width: 24%;
  margin: 0 3px;
}
.arts_2020 img{
  width: 100%;
}
.About-box {
  width: 46%;
  height: 45%;
}
.About-box p {
  color: white;
  font-size: 16px;
  margin-top: 20px;
}
.Message-box {
  width: 55%;
}
.Message-box h1 {
  margin-bottom: 20px;
}
.Message-box p {
  color: white;
  font-size: 16px;
  margin: 5px;
}
.representative {
  display: flex;
  width: 100%;
}
.representative-photo {
  margin: 0 10px 10px 0;
  width: 30%;
}
.representative-photo img {
  width: 100%;
}
.words {
  width: 70%;
}
.Live-box h1 {
  margin-bottom: 15px;
}
.judge {
  margin-top: 30px;
}
.names {
  display: flex;
  justify-content: space-around;
}
.name1 .name2 .name3 {
  display: flex;
  flex-direction: column;
}
.name1 img .name2 img .name3 img{
  position: relative;
}
.names p {
  color: white;
  text-align: center;
}
div .look{
  position: absolute;
  display: none;
}
.Contact-box p{
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 20px 0 10px 0;
}
form ul{
  display: flex;
  flex-direction: column;
}
form ul li{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
label{
  color: white;
  display: inline-block;
  font-size: 16px;
}
input, textarea {
  border: none;
  font: 16px sans-serif;
  width: 450px;
}
input{
  height: 40px;
}
textarea{
  height: 90px;
}
button{
  padding: 5px 33px;
  width: 100px;
  border: none;
  cursor: pointer;
  color: #182987;
  font-size: 16px;
  margin:30px auto
}
