* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: DIN Alternate Bold;
  font-weight: 400;
  font-style: normal;
}
html {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  height: 100%;
  width: 100%;
}
header {
  /* background-color: pink; */
  height: 700px;
  width: 31%;
  flex-grow: 1;
  user-select: none;
}
main {
  display: flex;
  flex-direction: column;
  width: 69%;
  height: 100%;
}
.logo {
  margin: 10px;
  width: 150px;
}
.header-nav {
  margin-top: 50px;
}
.header-nav li {
  list-style: none;
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 15px 20px;
}
.header-nav a {
  text-decoration: none;
  color: #182987;
  font-size: 17px;
  cursor: pointer;
}
#Exhibition {
  background-color: #182987;
}
#Exhibition a {
  color: white;
}
.fas fa-chevron-down {
  color: white;
}
#Exhibition i {
  color: white;
  font-size: 18px;
  margin-left: 30px;
}
.head_sns ul {
  display: flex;
  position: absolute;
  top: 93%;
}
.head_sns li {
  margin: 0 0 0 20px;
}
.head_sns a {
  text-decoration: none;
  color: #182987;
  font-size: 25px;
  padding: 0;
}
.head_sns img {
  height: 25px;
}
h1 {
  color: white;
  text-align: center;
  font-size: 27px;
}
#top {
  background-color: #3f6096;
  flex-grow: 3;
  width: 100%;
  height: 100%;
  position: relative;
}
.arts {
  width: 100%;
  height: 100%;
  display: flex;
}
.arts-left {
  width: 50%;
  height: 100%;
  display: flex;
}
.arts-left-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.arts-left-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.arts-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arts-right-top {
  width: 100%;
  overflow: hidden;
}
.arts-right-bottom {
  display: flex;
  width: 100%;
}
.arts-right-bottom-child {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.art1 img,
.art2 img,
.art3 img,
.art4 img,
.art5 img,
.art6 img,
.art7 img {
  width: 100%;
  height: 100%;
}
div.art1,
div.art2,
div.art3,
div.art4,
div.art5,
div.art6,
div.art7 {
  position: relative;
  overflow: hidden;
}
.futa {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #182987;
}
#exhibition2020 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2500px;
}
.Exhibition2020-box {
  width: 45%;
  position: absolute;
  top: 120px;
}
.Exhibition2020-box h1 {
  margin-bottom: 20px;
}
.Exhibition2020-box p {
  color: white;
  font-size: 16px;
}
.arts_2020_box {
  color: white;
  width: 100%;
}
.arts_2020_box p {
  left: 8%;
  top:500px;
  position: absolute;
}
.arts_2020_box i {
  left: 15%;
  top:505px;
  position: absolute;
}
.arts_2020_box a {
  right: 6%;
  position: absolute;
  top:450px;
}
.arts_2020 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 550px;
  margin: 0 5% 0;
  width: 90%;
}
.arts_2020_01 {
  width: 23%;
  margin: 3px;
  background-color: black;
  overflow: hidden;
  position: relative;
}
.arts_2020_01 a {
  z-index: 3;
}
.arts_2020_01 p {
  color: white;
  position: absolute;
  top: 90px;
  font-size: 20px;
  z-index: 2;
}
.arts_2020_01 img {
  width: 100%;
  height: 100%;
}
.arts_2020 img:hover {
  opacity: 0.2;
}
.questionnaire {
  position: absolute;
  top: 2100px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.questionnaire p {
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 40px 0 40px 0;
}
.questionnaire a {
  color: #182987;
  text-align: center;
  font-size: 16px;
  background-color: white;
  text-decoration: none;
  width: 120px;
  padding: 10px 17px;
}
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.About-box {
  width: 46%;
}
.About-box p {
  color: white;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  line-height: 40px;
}
#judge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.Judge-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Judge-box h1 {
  margin-bottom: 30px;
}
.judge-intro p {
  color: white;
  font-size: 15px;
  line-height: 35px;
}
.judge-intro {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.names {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-top: 50px;
  height: 100%;
}
.names .name1,
.names .name2,
.names .name3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  margin: 0 5%;
  background-color: black;
}
.name1 a,
.name2 a,
.name3 a {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}
.name1 img,
.name2 img,
.name3 img {
  width: 100%;
  height: 100%;
}
.name1 img:hover,
.name2 img:hover,
.name3 img:hover {
  opacity: 0.2;
}
.names p {
  color: white;
  text-align: center;
  font-size: 20px;
  z-index: 2;
}
.judge-name {
  position: absolute;
  top: 4380px;
}
div .look {
  position: absolute;
  top: 4480px;
  user-select: none;
}
.introduction {
  position: absolute;
  background-color: rgb(22, 22, 22);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  z-index: 4;
  display: none;
}
.close {
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 40px;
}
.large {
  font-size: 20px;
}
.explanation {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explanation img {
  width: 130px;
}
.explanation p {
  margin-top: 10px;
  line-height: 20px;
  font-size: 15px;
}
.judge-arts {
  display: flex;
  margin-top: 50px;
}
.judge-art1,
.judge-art2,
.judge-art3 {
  margin: 0 25px;
  text-align: center;
}
.judge-art1 img,
.judge-art2 img,
.judge-art3 img{
  width: 150px;
}
#message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.Message-box {
  width: 55%;
}
.Message-box h1 {
  margin-bottom: 20px;
}
.Message-box h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
.Message-box p {
  color: white;
  font-size: 16px;
  line-height: 25px;
}
.representative {
  display: flex;
  width: 100%;
}
.representative-photo {
  margin: 0 10px 10px 0;
  width: 30%;
}
.representative-photo img {
  width: 100%;
}
.words {
  width: 70%;
}
.words .itome {
  font-size: 20px;
  margin-bottom: 10px;
}
#cooperation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.Cooperation-box {
  width: 80%;
  height: 80%;
  padding: 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.Cooperation-box h1 {
  color: #182987;
}
.Cooperation-logo{
  display: flex;
}
.Cooperation-logo img{
  width: 120px;
  margin: 20px 40px 0px;
}
.Cooperation-box p {
  color: #182987;
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
}
.Cooperation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.Cooperation p {
  margin: 3px 30px;
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.Contact-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Contact-box p {
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 40px 0 40px 0;
  line-height: 30px;
}
.Contact-box a {
  color: #182987;
  text-align: center;
  font-size: 16px;
  background-color: white;
  text-decoration: none;
  width: 120px;
  padding: 10px 17px;
}
