@media screen and (max-width: 560px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
  html {
    height: 100%;
    width: 100%;
    overscroll-behavior: none;
  }
  body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #182987;
  }
  header {
    background-color: #182987;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
  }
  main {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 100%;
    height: 80%;
  }
  #main-cover {
    width: 100%;
  }
  .logo {
    margin: 13px;
    width: 100px;
  }

  .header-nav {
    margin-top: 50px;
    display: none;
  }
  .header-nav li {
    list-style: none;
    text-decoration: none;
    color: #182987;
    width: 100%;
    padding: 15px 25px;
    cursor: pointer;
  }
  .header-nav a {
    text-decoration: none;
    color: #eee;
    font-size: 17px;
    cursor: pointer;
  }
  .head_sns {
    display: none;
  }
  .head_sns ul {
    display: flex;
    position: absolute;
    top: 93%;
  }
  .head_sns li {
    margin: 0 0 0 20px;
  }
  .head_sns a {
    text-decoration: none;
    color: #eee;
    font-size: 25px;
    padding: 0;
  }
  .head_sns img {
    height: 23px;
  }
  .smart-btn i {
    color: #eee;
    font-size: 25px;
    margin-right: 20px;
  }
  .smart-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #182987;
    position: fixed;
    z-index: 4;
    display: none;
  }
  .smart-btn .close {
    position: absolute;
    top: 3px;
    right: 20.3px;
    cursor: pointer;
    display: none;
  }
  .smart-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 50px;
  }
  .smart-nav li {
    margin: 10px 0;
  }
  .smart-nav a {
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    cursor: pointer;
  }
  .smart-sns ul {
    display: flex;
  }
  .smart-sns li {
    margin: 0 10px;
  }
  .smart-sns i {
    color: #eee;
    font-size: 20px;
  }
  .smart-sns img {
    height: 20px;
  }
  h1 {
    color: #182987;
    text-align: center;
    font-size: 27px;
  }

  #top-grid {
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .grid-container {
    margin: 1.2% 1.2% 1.2% 1.2%;
    display: grid;
    height: 98.2%;
    grid-row-gap: 1%;
    grid-column-gap: 1%;
    position: relative;
    grid-template-rows: 24.25% 24.25% 24.25% 24.25%;
    grid-template-columns: 32.6666% 32.6666% 32.6666%;
    grid-template-areas:
      "area5 area5 area6"
      "area5 area5 area7"
      "area3 area4 area4"
      "area1 area1 area2";
  }
  .grid-container p {
  }
  .grid-container .cover-image-wrap {
    opacity: 1;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .grid-container .cover-image-wrap:active {
    opacity: 0.6;
  }
  .grid-container .details-wrap {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-area1 {
    overflow: hidden;
    grid-area: area1;
    background-color: #000000;
  }
  .grid-area1 .cover-image {
    float: left;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -25%);
  }
  .grid-area1 .cover-image img {
    width: 100%;
  }
  .grid-area1 .cover-content-container {
    margin-bottom: 0%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
  }
  .grid-area1 .cover-image-wrap {
    overflow: hidden;
    position: relative;
  }
  .grid-area1 .details-wrap {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;

    opacity: 0;
    position: absolute;
    top: 0;
    color: #eee;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .grid-area1 .details-wrap:active {
    opacity: 1;
  }
  .grid-area1 .details {
    position: absolute;
    justify-content: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    top: 70px;
  }

  .grid-area2 {
    overflow: hidden;
    grid-area: area2;
    background-color: #000000;
  }
  .grid-area2 .cover-image {
    float: left;
    height: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  .grid-area2 .cover-image img {
    width: 135%;
  }
  .grid-area2 .cover-content-container {
    margin-bottom: 0%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
  }
  .grid-area2 .cover-image-wrap {
    overflow: hidden;
    position: relative;
  }
  .grid-area2 .details-wrap {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;

    opacity: 0;
    position: absolute;
    top: 0;
    color: #eee;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .grid-area2 .details-wrap:active {
    opacity: 1;
  }
  .grid-area2 .details {
    position: absolute;
    justify-content: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .grid-area3 {
    overflow: hidden;
    grid-area: area3;
    background-color: #000000;
  }
  .grid-area3 .cover-image {
    float: left;
    height: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  .grid-area3 .cover-image img {
    width: 135%;
  }
  .grid-area3 .cover-content-container {
    margin-bottom: 0%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
  }
  .grid-area3 .cover-image-wrap {
    overflow: hidden;
    position: relative;
  }
  .grid-area3 .details-wrap {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;

    opacity: 0;
    position: absolute;
    top: 0;
    color: #eee;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .grid-area3 .details-wrap:active {
    opacity: 1;
  }
  .grid-area3 .details {
    position: absolute;
    justify-content: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .grid-area4 {
    overflow: hidden;
    grid-area: area4;
    background-color: #000000;
  }
  .grid-area4 .cover-image {
    float: left;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -25%);
  }
  .grid-area4 .cover-image img {
    width: 100%;
  }
  .grid-area4 .cover-content-container {
    margin-bottom: 0%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
  }
  .grid-area4 .cover-image-wrap {
    overflow: hidden;
    position: relative;
  }
  .grid-area4 .details-wrap {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;

    opacity: 0;
    position: absolute;
    top: 0;
    color: #eee;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .grid-area4 .details-wrap:active {
    opacity: 1;
  }
  .grid-area4 .details {
    position: absolute;
    justify-content: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    top: 70px;
  }

  .grid-area5 {
    overflow: hidden;
    grid-area: area5;
    background-color: #000000;
  }
  .grid-area5 .cover-image {
    float: left;
    height: 10%;
    object-fit: cover;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
  }
  .grid-area5 .cover-image img {
    width: 135%;
  }
  .grid-area5 .cover-content-container {
    margin-bottom: 0%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
  }
  .grid-area5 .cover-image-wrap {
    overflow: hidden;
    position: relative;
  }
  .grid-area5 .details-wrap {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;

    opacity: 0;
    position: absolute;
    top: 0;
    color: #eee;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .grid-area5 .details-wrap:active {
    opacity: 1;
  }
  .grid-area5 .details {
    position: absolute;
    justify-content: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .grid-area6 {
    overflow: hidden;
    grid-area: area6;
    background-color: #000000;
  }
  .grid-area6 .cover-image {
    float: left;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
  }
  .grid-area6 .cover-image img {
    width: 135%;
  }
  .grid-area6 .cover-content-container {
    margin-bottom: 0%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
  }
  .grid-area6 .cover-image-wrap {
    overflow: hidden;
    position: relative;
  }
  .grid-area6 .details-wrap {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;

    opacity: 0;
    position: absolute;
    top: 0;
    color: #eee;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .grid-area6 .details-wrap:active {
    opacity: 1;
  }
  .grid-area6 .details {
    position: absolute;
    justify-content: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .grid-area7 {
    overflow: hidden;
    grid-area: area7;
    background-color: #000000;
  }
  .grid-area7 .cover-image {
    float: left;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
  }
  .grid-area7 .cover-image img {
    width: 135%;
  }
  .grid-area7 .cover-content-container {
    margin-bottom: 0%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
  }
  .grid-area7 .cover-image-wrap {
    overflow: hidden;
    position: relative;
  }
  .grid-area7 .details-wrap {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;

    opacity: 0;
    position: absolute;
    top: 0;
    color: #eee;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .grid-area7 .details-wrap:active {
    opacity: 1;
  }
  .grid-area7 .details {
    position: absolute;
    justify-content: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  #top {
    flex-grow: 3;
    width: 100%;
    height: 100%;
    position: relative;
  }

  #theme {
    display: block;
    justify-content: center;
    position: relative;
    height: 100%;
  }
  .theme-cover {
    width: 70%;
    left: 50%;
    object-fit: cover;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .logo-theme {
    display: block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-bottom: 10%;
    margin: 30px auto 0;
    width: 60%;
  }
  .theme-cover h1 {
    margin-bottom: 20px;
  }
  .theme-cover p {
    color: #182987;
    font-size: 12px;
    font-weight: 350;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    margin-bottom: 20px;
  }
  .theme-cover .questionnaire-btn-cover {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .theme-cover .questionnaire-btn {
    background-color: white;
    color: #182987;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    transition: all 0.3s ease 0s;
  }
  .theme-cover .questionnaire-btn:active {
    color: #eee;
    background-color: #182987;
  }
  .theme-cover a {
    text-decoration: none;
    background-color: #eee;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .theme-cover a:active {
    color: #182987;
  }

  #works {
    display: block;
    justify-content: center;
    position: relative;
  }
  .works-content {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
  }
  .works-covers {
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .works-cover {
    display: block;
    position: relative;
    clear: left;
    margin-left: 0;
    margin-right: 1%;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 49%;
  }
  .works-cover:nth-of-type(4n) {
    margin-right: 0;
  }
  .details .works-covers {
    clear: both;
    content: "";
    display: table;
  }
  .works-cover .cover-content-container {
    margin-bottom: 0%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .works-cover .cover-image-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .works-cover .cover-image {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative; /*
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);*/
  }
  .works-cover .cover-image img {
    width: 100%;
    height: 100%;
  }
  .works-cover .details-wrap {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;
    background-color: rgb(22, 22, 22);
    opacity: 0;
    position: absolute;
    top: 0;
    color: #eee;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .works-cover .details-wrap:active {
    opacity: 0.6;
  }
  .works-cover .details {
    position: absolute;
    justify-content: center;
    text-align: center;
    /* padding-left: 5%;
    padding-right: 5%; */
    user-select: none;
    height: 100%;
    width: 100%;
  }
  .works-cover .details a{
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
  }
  .works-cover .details-award {
    padding-top: 10%;
    font-size: 12px;
  }

  .award {
    width: 100px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: -20px;
  }

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }
  .about-cover {
    width: 70%;
    object-fit: cover;
    position: relative;
  }
  .about-cover h1 {
    margin-bottom: 20px;
  }
  .about-cover p {
    color: #182987;
    font-size: 12px;
    font-weight: 350;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    margin-top: 40px;
  }

  #judge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200%;
  }
  .judge-cover {
    width: 95%;
    position: absolute;
    object-fit: cover;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }
  .judge-abstract {
    margin-bottom: 40px;
  }
  .judge-abstract h1 {
    margin-bottom: 20px;
  }
  .judge-abstract p {
    color: #182987;
    font-size: 12px;
    font-weight: 350;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    margin-top: 40px;
  }

  .judge-content {
    display: block;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  }

  .judge-content-container {
    display: block;
    position: relative;
    clear: left;
    width: 60%;
  }
  .judge-content .judge-content-container {
    margin-bottom: 0;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
    position: relative;
  }
  .judge-content .judge-content-container:nth-of-type(3n) {
    margin-right: 0;
  }
  .judge-content-container .judge-image-wrap {
    overflow: hidden;
    position: relative;
  }
  .judge-content-container .judge-image {
    float: left;
    height: 100%;
    left: 50%;
    object-fit: cover;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .judge-content-container .judge-image img {
    width: 100%;
  }
  .judge-content-container .judge-details-wrap {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;
    background-color: rgb(22, 22, 22);
    opacity: 0;
    position: absolute;
    top: 0;
    color: #eee;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-bottom: 0;
  }

  .judge-content-container .judge-details-wrap:active {
    opacity: 0.6;
  }

  .judge-content-container .judge-details {
    position: absolute;
    justify-content: center;
    text-align: center;
  }
  .judge-content-container .judge-name {
    background-color: #eee;
    color: #182987;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
  }
  .judge-name {
    font-size: 16px;
  }


  .introduction1,
  .introduction2,
  .introduction3 {
    position: absolute;
    background-color: rgb(22, 22, 22);
    height: 100%;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    z-index: 10;
    display: none;
    position: fixed;
    top: 0;
  }
  .close {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 40px;
    cursor: pointer;
  }
  /* .large {
    font-size: 20px;
  } */
  .explanation {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .explanation img {
    width: 130px;
  }
  .explanation p {
    margin-top: 10px;
    line-height: 20px;
    font-size: 11px;
    font-weight: 300;
  }
  .introduction1 a,
  .introduction2 a,
  .introduction3 a {
    font-size: 11px;
    color: #eee;
    margin-top: 5px;
    font-weight: 300;
  }
  .explanation .explanation-name {
    font-size: 20px;
    font-weight: 550;
  }
  .explanation .explanation-title{
    font-weight: 550;
  }
  .judge-arts {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
  }
  .judge-art1,
  .judge-art2,
  .judge-art3 {
    text-align: center;
    width: 100px;
  }
  .judge-art1 p,
  .judge-art2 p,
  .judge-art3 p{
    font-weight: 550;
    font-size: 12px;
    font-feature-settings:"palt";
  }
  .judge-art1 img,
  .judge-art2 img,
  .judge-art3 img {
    width: 100%;
  }

  #message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }
  .message-cover {
    width: 80%;
  }
  .message-cover h1 {
    margin-bottom: 30px;
  }
  .message-cover h2 {
    color: #182987;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .message-cover p {
    color: #182987;
    font-size: 12px;
    font-weight: 350;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
  }
  .representative-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .representative-img {
    margin: 0 0 10px 0;
    width: 40%;
  }
  .representative-img img {
    width: 100%;
  }
  .words {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #cooperation {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }
  .cooperation-cover {
    height: 100%;
    width: 85%;
    left: 50%;
    object-fit: cover;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .cooperation-list {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .cooperation-title h1 {
    margin-top: 5%;
  }
  .cooperation-list .cooperation-title h1 {
    margin-bottom: 20px;
  }
  .cooperation-list .cooperation-caption p {
    color: #182987;
    font-size: 12px;
    font-weight: 350;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    margin-bottom: 5px;
  }
  .supporters-container {
    height: 100%;
  }
  .gold {
    display: flex;
    justify-content: space-around;
  }
  .gold img {
    width: 70px;
    margin-top: 5px;
  }
  .supporters-container {
    color: #182987;
    font-size: 16px;
    text-align: center;
    align-items: center;
  }
  .supporter-name {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .gold .gold1 .supporter-company {
    font-weight: 350;
    margin-top: 30px;
    font-size: 14px;
  }
  .thanks{
    margin-top: 15px;
  }
  .thanks p {
    font-weight: 450;
    font-size: 13px;
  }



  #contact {
    display: block;
    justify-content: center;
    position: relative;
    height: 100%;
  }
  .contact-cover {
    width: 80%;
    left: 50%;
    object-fit: cover;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .contact-cover h1 {
    margin-bottom: 20px;
  }
  .contact-cover p {
    color: #182987;
    font-size: 12px;
    font-weight: 350;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
  }
  .contact-cover .contact-btn-cover {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .contact-cover .contact-btn {
    background-color: white;
    color: #182987;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    transition: all 0.3s ease 0s;
  }
  .contact-cover .contact-btn:active{
    color: #eee;
    background-color: #182987;
  }
  .contact-cover a {
    text-decoration: none;
    background-color: #eee;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .contact-cover a:active{
    color: #182987;
  }
  .contact-btn {
    font-size: 15px;
  }
  .foot_sns {
    height: 10%;
    background-color: #182987;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
  }
  .foot_sns ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .foot_sns li {
    margin: 0 20px;
  }
  .foot_sns i {
    color: #eee;
    font-size: 20px;
    line-height: 50px
  }
  .foot_sns img {
    height: 20px;
  }
  #senni-part .launch-pc{
    display: none;
  }
  #senni-part .launch-mobile{
    height: 100%;
    width: auto;
  }
}
